<div id="city">

  <h1>here's some pieces of trash in {{city}} who signed too</h1>
  {{#names}}
  <p><a href="{{url}}">{{first}} {{last}}</a>,  {{age}} (<a href='/signed/{{country}}'>{{country}}</a>)</p>
  {{/names}}

</div>
