<div id="edit-profile">
  {{#userInfo}}
  <h1>Want to edit your profile, {{first}}?</h1>
  <form action="/editUser" method="POST">
    First Name: <input type="text" name="first" value="{{first}}">
    Last Name:<input type="text" name="last" value="{{last}}">
    Age:<input type="text" name="age" value="{{age}}">
    City:<input type="text" name="city" value="{{city}}">
    State:<input type="text" name="state" value="{{state}}">
    Country:<input type="text" name="country" value="{{country}}">
    Username:<input type="text" name="username" value="{{username}}">
    Password:<input type="password" name="password" placeholder="Password">
    Personal Website:<input type="text" name="url" placeholder="Personal URL" value="{{url}}">
  {{/userInfo}}
  <div id="edit-sig">
    <div id="checkbox">
    Want to change your signature?<input name="sig" type="checkbox">
    </div>
    <img src="{{sig}}">
  </div>

  <button class="button" type="Submit">Save</button> <br/>
</form>
</div>
