<div id="other-profile">
  {{#otherUserInfo}}
<div class="other-user-info">
<h1>{{first}} {{last}}: </h1>
<img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="{{first}} {{last}} profile image">
<p>Country : {{country}}</p>
<p>State : {{state}}</p>
<p>City : {{city}}</p>
<p>Age : {{age}}</p>
<p>Website: {{url}}</p>
<p>Signed: {{created_at}}</p>
</div>
  {{/otherUserInfo}}
</div>
