<div id="other-profile">
  {{#userInfo}}
<h1>{{first}} {{last}}: </h1>
<p>Country : {{country}}</p>
<p>State : {{state}}</p>
<p>City : {{city}}</p>
<p>Age : {{age}}</p>
<p>Website: {{url}}</p>
  {{/userInfo}}
</div>
