<div id="signed">
  <h1>None of these people are jerks! Trust.</h1>
  {{#names}}
  <p>{{first}} {{last}}, {{age}} (<a href='/signed/{{city}}'>{{city}}</a>, <a href=`/signed/{{country}}`>{{country}}</a>)</p>
  {{/names}}
</div>
