<div id="signed">
  <h1>here's some pieces of trash who signed too</h1>
  {{#names}}
  <p><a href="/profile/{{id}}">{{first}} {{last}}</a>, {{age}} (<a href='/signed/{{city}}'>{{city}}</a>, <a href='/signed/{{country}}'>{{country}}</a>)</p>
  {{/names}}
</div>
